.createuser {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 1em;
}
.createuser-form {
    padding: 2em;
    margin-top: 5vh;
    width: 100%;
    box-shadow: 0px 18px 20px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.submit-form-button {
    margin-top: 2vh;
    width: 200px;
}