.dashboard {
    display: flex;
    justify-content: center;
}
.dashboard-table {
    margin-top: 2vh;
    width: 95vw;
    height: 100%;
    margin-bottom: 4vh;
}
.create-user--button {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
}